section#muutmine{
	h2{
		font-size: 1.2em;
		font-weight:300;
	}
	h1.muuda{
		width:90%;
	}
	.muuda{
		float:left;
		width: 50%;
		
		input#muuda{
			display:block;
			border:none;
				background-color:transparent;
				color:#fff;
				font-weight: 300;
				font-size: 1em;
				border-bottom: solid 1px #fff;
				width: 80%;
				padding-left: 20px;
				line-height:1.5;
				outline:none;
				margin-top: 20px;
		}
		input#muuda.btn{
			border:none;
			background-color:#fff;
			color: $d-green;
			width: 150px;
			border-radius: 5px;
			-webkit-border-radius: 5px;
			padding:0px;
			line-height: 2;
			clear:both;
			&:hover{
				border: solid 1px #fff;
				color: #fff;
				background-color: transparent;
			}


		}
		p.error{
			color:red;
			font-size: 0.8em;
			font-weight: 300;
			background-color:#fff;
			float:left;
			border-radius: 3px;
			-webkit-border-radius: 3px;
			padding: 2px;
		}
		@media screen and (max-width: 540px){
			input#muuda{
				margin-left: auto;
				margin-right: auto;
			}
			width:100%;
			float:none;
			margin-top: 20px;
		}

	}
}