section#opileht{
	header{
		h1{
			display: inline-block;
		}
		a.info{
			background-image: url("../img/info.png");
			display: inline-block;
			height: 26px;
			width: 26px;
			float:right;
			background-repeat: no-repeat;
			background-position: center;	
			margin-top: 20px;
			position: relative;

			&:hover p.info{
				display: block;
			}
			p.info{
				width: 400px;
				position: absolute;
				right: 0;
				top: 10px;
				z-index: 5;
				color: #fff;
				text-transform: none;
				padding: 30px;
				display:none;
				&:after{
					content: "";
					display: block;
					z-index: -2;
					top: 0;
					position: absolute;
					bottom: 0;
					right: 0;
					left: 0;
					background-color: #000;
					-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
					filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
					opacity: 0.7;
					border-radius: 5px;
				}

			}	
			@media screen and (max-width: 650px){
				display: block;
				float:none;
				margin-left: auto;
				margin-right: auto;
				p.info{
					right: 50%;
					margin-right: -200px;
				}
				
			}
		}
	}
	.kaart{
		width: 70%;
		height:400px;
		background-image:url(../img/kaart-bg.png);
		-webkit-border-radius: 10px;
		border-radius: 10px;
		margin-left:auto;
		margin-right:auto;
		margin-top: 50px;
		position:relative;
		display:table;
		
		font-size: 3em;
		font-weight: 400;
		-webkit-text-stroke-width: 2.5px;
		-webkit-box-shadow:  5px 5px 0px 0px rgba(0, 0, 0, 0.1);
        
        box-shadow:  5px 5px 0px 0px rgba(0, 0, 0, 0.1);

		p.moiste{
			  display: table-cell;
			  vertical-align: middle;
			  text-align: center;
			  color: #516f00;
			  font-size: 0.7em;
			  line-height: 2;
			  -webkit-text-stroke-width: 0px;
			  padding: 20px;
		}
		p.selgitus{
			display: table-cell;
			  vertical-align: middle;
			  text-align: center;
			  color: #3b2313;
			  font-size: 0.7em;
			  line-height: 2;
			  -webkit-text-stroke-width: 0px;
			  padding: 20px;
		}
		.nurk{
			position:absolute;
			top:0px;
			right:0px;
			height:85px;
			width:85px;
			cursor: pointer;
			cursor: hand;
		&:hover:after , &:hover:before {
			display:block;
		}
		&:after{
			content:"Selge!";
			color: $d-green;
			height:25px;
			width: 80px;
			text-align:center;
			line-height:25px;
			font-size: 0.3em;
			-webkit-border-radius: 3px;
			-webkit-text-stroke-width: 0;
			border-radius: 3px;
			position:absolute;
			right: -90px;
			top: 20px;
			margin-top: -14.5px;
			background-color:#fff;
			display:none;
		}
		&:before{
			content:"";
			display:none;
			height:10px;
			width: 10px;
			background-color:white;
			position:absolute;
			right:-17px;
			border-radius: 1px;
			top:14px;
			-webkit-border-radius: 1px;
			-moz-transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);

		}

			 &.poleselge {
			 	background-image: url(../img/pole-selge.png);
			 	&:hover{
			 		background-image: url(../img/selge.png);
			 	}
			 }
			 &.selge {
			 	background-image: url(../img/selge.png);
			 }
		}
		.next, .prev{
			position: absolute;
			height: 50px;
			width:50px;
			cursor: hand;
			cursor:pointer;
		}
		.next{
			background-image: url(../img/next.png);
			top: 45%;
			right: -100px;
		}
		.prev{
			background-image: url(../img/prev.png);
			top: 45%;
			left: -100px;
		}
		@media screen and (max-width: 650px){
			width:85%;
			.next{
			background-image: url(../img/next.png);
			top: -40px;
			right: 0px;
			}
			.prev{
				background-image: url(../img/prev.png);
				top: -40px;
				left: 0px;
			}
		}
	@media screen and (max-width: 540px){
        	width:95%;
        	.next{
			background-image: url(../img/next.png);
			top: -40px;
			right: 0px;
		}
		.prev{
			background-image: url(../img/prev.png);
			top: -40px;
			left: 0px;
		}
        	.nurk{
        		&:after, &:before{
        		display:none;
        		visibility: hidden;
        	}
        	}
        	
        }
	}
	.buttons{
		width:100%;
		text-align: center;
	}
	.poora, .jarjesta, .sega, .teistpidi{
		width: 120px;
		height:80px;
		background-color:white;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		
		background-repeat: no-repeat;
		background-position: center 40px;
		color: $d-green;
		margin-left: 10px;
		margin-right: 10px;
		line-height: 45px;
		text-align:center;
		margin-top: 25px;
		font-size: 0.8em;
		display: inline-block;
		cursor: hand;
		cursor: pointer;
	}
	.poora{
		background-image:url(../img/poora.png);
	}
	.jarjesta{
		background-image:url(../img/jarjesta.png);
	}
	.sega{
		background-image:url(../img/shuffle.png);
	}
	.teistpidi{
		background-image:url(../img/teistpidi.png);
	}
}