$d-green: #516f00;
$l-green: #82a037;
$brown: #3b2313;

@import "_normalize.scss";
@import "_common.scss";
@import "_index.scss";
@import "_fonts.scss";
@import "_minulehed.scss";
@import "_lisamine.scss";
@import "_opileht.scss";
@import "_muuda.scss";
@import "_mehike.scss";
@import "_kkk.scss";
@import "_autorid.scss";